<%= form_for(@unit) do |f| %>
<% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% @unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
  <p>
		<%= f.label :name, "Unit name" %>
		<%= f.text_field :name %>
	</p>
	
	<%= f.submit :class => 'btn btn-success' %>
	<%= link_to 'Cancel', units_path, :data => { :confirm => 'Are you sure you want to leave this page?' }, :class => 'btn btn-danger' %>

<% end %>
